/* Homepage CSS */
.container-custom, main {
    width: 100%;
    margin: 0;
    min-height: 100vh;
}

.bg-black, .games-library {
    background-color: rgb(24, 24, 24);
}

.bg-red {
    background-color: #f00;
}

.red-text {
    color: #f00;
}

h1, h2, h3, h4, h5 , h6 {
    margin-bottom: 0 !important;
}

#custom-toggler, .navbar-toggler, .navbar-toggler-icon {
    border-color: #f00;
}

/* Nav CSS */
.nav-logo {
    width: auto;
    height: 50px;
}

.nav {
    display: flex;
    justify-content: end;
}

.nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navItem {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    align-items: center;
    margin-bottom: 0;
}

.navItem:hover {
    color: #f00;
    transition: 0.3s;
    text-decoration: none;
    list-style-type: none;
}


/* Fade-in Effect Homepage CSS */
.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
      visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }


/* Form + Hero Images CSS */
form > .btn, form > div > .btn {
    background-color: #f00;
    color: #ffffff;
}

.spacing {
    width: auto;
    padding: 80px 0 80px 0;
}

.hero-row-one {
    padding: 0 0 80px 0;
}

.game-library {
    padding-top: 50px;
}

.friends-btn {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #242424;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.friends-btn:hover {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #f00;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-btn, .custom-btn-wishlist {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
  color: #f00;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #f00;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-btn:hover {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #f00;
    border: 1px solid #f00;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-btn-wishlist:hover {
    color: #ffffff;
    background-color: #f00;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form > .btn:hover {
    background-color:#ffffff;
}


.popular-row, .pop-games {
    border: 1px solid;
    border-color: #f00;
    border-radius: 0.5rem;
}

.popular-item {
    border-radius: 0.5rem;
}

.join-us {
    text-align: center;
}


/* Signup + Login page CSS */
#redirect-text-signup, #redirect-text-login {
    margin-bottom: 0 !important;
}

.redirect-link {
    text-decoration: none;
    color: rgb(24, 24, 24);
}

.redirect-link:hover {
    text-decoration: none;
    color: #f00;
}

.login-form-input {
    border: 1px solid;
    border-color: #242424;
    border-radius: 0.5rem;
    padding: 10px 10px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 3px;
    width: 100%;
}


/* Profile Page CSS */
#profile-img {
    width: 400px;
    height: 400px;
}

#online-icon {
    margin: 10px 10px;
}

.sidebar {
    border: 1px solid;
    border-color: #f00;
    border-radius: 0.5rem;
    padding: 15px 15px 3px 15px;
}

.sidebar-medium {
    flex-direction: column !important;
}

.profile-sidebar-link {
    text-decoration: none;
    color: #242424;
}

.profile-sidebar-link:hover {
    text-decoration: none;
    color: #f00;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.scheduled-game {
    border-radius: 0.5rem;
    border: 1px solid;
    border-color: #f00;
}

.description-input {
    width: 90%;
}

.time-select {
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: #242424;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 20px 0;
}


/* Game Library CSS */
.border{
    border-radius: 0.5rem;
}

/* Single Game Page CSS */
#game {
    padding: 0px;
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: #f00;
}

/* Wish List CSS */
.wishlist-row {
    line-height: 60px;
}


/* Footer CSS */
#footer-logo {
    width: auto;
    height: 40px;
}

.footer-heart {
    width: 21px;
    height: 21px;
}


/* Mobile Screens */
@media screen and (max-width: 400px){
    .img-fluid {
        display: none;
    }
    
    .nav {
        display: flex;
        justify-content: center !important;
    }

    #searchInput {
        max-height: 38px;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .input-group {
        align-items: center !important;
    }

    #take-friend {
        margin-top: 80px;
    }

    .sidebarBtn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Small Screens */
@media screen and (max-width: 576px) {
    .spacing {
        width: auto;
        padding: 10px 0 40px 0;
    }

    .nav {
        display: flex;
        justify-content: center !important;
    }

    .hero-one {
        margin-top: 50px;
    }

    .pair-up {
        margin-top: 50px;
    }

    .game-library {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .prof-games-sm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
    }

    .play-sm {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cond-sidebar-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* Medium Screens */
@media screen and (max-width: 768px) {
    .nav {
        align-items: center !important;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .nav > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #take-friend, .pair-up {
        margin-top: 50px;
    }

    .spacing {
        width: auto;
        padding: 10px 0 80px 0;
    }

    .play-sm {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


/* Large Screens */
@media screen and (max-width: 992px) {
    .spacing {
        width: auto;
        padding: 0 0 80px 0;
    }

    #take-friend {
        margin-top: 50px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .game-sm-spacing {
        margin-top: 30px !important;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 992px) {
    #profile-img {
        max-width: 336px;
        max-height: 336px;
    }
}