.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupInner{
    position: relative;
    padding: 16px;
    border-radius: 15px;
    background-color: black;
    height: 60vh;
    /* width: 80vw; */
}

.popupHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 30%;
    background-color: white;
    border-radius: 5px;
    color: black;
    margin-bottom: 10px;
    padding: 20px;
}

.popupBody {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.popupInfo, .popupPlayers{
    background-color: rgba(255, 0, 0, 0.20);
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    /* height: 100%; */
}

.popupInfo{
    flex: 0;
}

.popupPlayers{
    flex: 1;
}

.popupInner .closeBtn{
    position: absolute;
    top: 16px;
    right: 16px;
}

.popupButton{
    border: 2px solid red;
}

.popupHeader span{
    font-style: italic;
    font-size: small;
}

