.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupInner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    border-radius: 15px;
    background-color: black;
    color: white;
}

.popupHeader{
    width: 100%;
    height: 25%;
    background-color: white;
    border-radius: 5px;
}

.popupBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.popupBody div{
    background-color: rgba(255, 0, 0, 0.20);
    border-radius: 5px;
    padding: 20px;
    width: 50%;
}

.popupInner .closeBtn{
    position: absolute;
    top: 16px;
    right: 16px
}

.popupHeader span{
    font-style: italic;
    font-size: small;
}

